/* Write your CSS here! */
body {
    background-color: #e0dce0;
    display: black;
    margin: 8px;
    font-family: Helvetica;
}

#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

p {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
    
}
header {
    text-align: center;
}





